*{
	box-sizing: border-box;
}

body{
	background-color: #f7f8fc;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 90px;
	padding-top: 10px;

}
.container{
	display: flex;
	justify-content: space-between;
	padding: 90px;
	width: 100%;
	margin: auto;
}

.card{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0,0,0,0.4);
	overflow: hidden;
	width: 300px;
}
.card-header img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card-body{
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 20px;
	max-height: 300px;
	margin-bottom: 0;

}

.tag{
	background: #634018;
	border-radius: 50px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 2px 10px;
	text-transform: uppercase;

}

.tag-pink{
	background-color: #ffa3a3;
}

.tag-orange{
	background-color: #ff863b;
}

.card-body h4{
	margin: 20px 0;

}

.card-body p{
	font-size: 13px;
	margin: 0 0 40px;
	margin-bottom: 0;
}

.user{ 
	display: flex;
	margin-top: 20px;
 }
 .user img{ 
 	width: 40px;
 	height: 40px;
 	border-radius: 50%;
 	margin: 20px;
 	
  }

 .user-info h5{
 	margin:0;
 	padding-top: 20px;
 }

 

